<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/maincontent.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dr.Dr.</title>
</head>
<body>
<div class="wrapper">
    <div class="account" id="bar2">
        <div id="account">
            <div class="logo">
                <h1>Doc.</h1>
                <p>In Service Of Heroes</p>
            </div>
            <div class="account-info">
                <div class="dp">
                    
                </div><hr class="dotted" width="60%">
                <div class="userinfo">
                    <p><%= username%></p>
                    <p><%= email%></p>
                </div><hr class="dotted" width="60%">
            </div>
        </div>

        <div id="menu">
            <ul id="main-nav">
                <li><a href="/Profile">Profile</a></li>
                <li><a href="/user/statastics/">Stats</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/help">Help</a></li>
            </ul>
            <div id="border2"></div>
        </div>
    </div>
 

    <div class="menu-record">
        <div id="record">

            <!-- <label for="visit">Visit Index &nbsp;:&nbsp;</label>
            <input type="number" id="visit" name="visit">   -->

            <form action="/user/record" method="POST">
               
                <div class="pdetail">
                    <label class="pdetail-label" for="pname">Patient Name &nbsp;:&nbsp;</label>
                    <input type="text" name="pname">
                    
                    <label id="disease-label" for="disease">Disease &nbsp;:&nbsp;</label>
                    <input type="text" name="disease">
                    
                  
                    <label class="pdetail-label" for="age">Patient Age &nbsp;&nbsp;&nbsp;&nbsp;:&nbsp;</label>
                    <input type="number" name="age" id="age">
                      
                </div>
                
                
                <label for="cure" class="cure pdetail-label">Treatment &nbsp;:&nbsp;</label>
                <textarea id="cure" class="cure pdetail-label" name="cure" cols="50" rows="8"></textarea>

                <div class="date">
                    <!-- <label for="last-visit">Last Visit &nbsp;:&nbsp;</label>
                    <input type="date" name="lvisit"> -->
                    <label for="next-visit"  class="pdetail-label" >Next Visit &nbsp;:&nbsp;</label>
                    <input type="date" name="nvisit" id="nvisit">
                </div>
                


                <div id="form-btn">
                    <button id="erase" type="reset">Erase</button>

                    <button id="submit" type="submit">Save</button>
                </div>

            </form>
        

        </div>
    </div>
</div>
    <!-- <link rel="javascript/text" href="../public/javascripts/ui.js"> -->
</body>
</html>