<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/profile.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile | Doc.</title>
</head>
<body>
<div class="wrapper">
    <div class="account" id="bar2">
        <div id="account">
            <div class="logo">
                <a href="/user/record"><h1>Doc.</h1></a>
                <p>In Service Of Heroes</p>
            </div>
            <div class="account-info">
                <div class="dp">
                    
                </div><hr class="dotted" width="60%">
                <div class="userinfo">
                    <p><%= username%></p>
                    <p><%= email%></p>
                </div><hr class="dotted" width="60%">
            </div>
        </div>

        <div id="menu">
            <ul id="main-nav">
                <li><a class="active-link" href="./profile">Profile</a></li>
                <li><a href="/user/statastics/">Stats</a></li>
                <li><a href="/user/setting">Settings</a></li>
                <li><a href="/user/help">Help</a></li>
            </ul>
            <div id="border2"></div>
        </div>
    </div>
 

    <div class="menu-record">
        <div class="data">
            <div class="options">
                <h2>Profile </h2><br>
                

                    <div>
                        <h4>Connection</h4>
                        <form action="profile/connect">
                            <label for="rei">Mate : </label>
                            <input type="text" id="rei" name="rei"><br>
                            <button type="submit" class="p" >Request</button>
                        </form>
                    </div>
                    <% if (pendCon != ' ') { %>
                        <div>
                                <h4>Pending Conections</h4><br>
                                <div class="pending-req">
                                    <p><%= pendCon %> want to make connection with you</p>
                                </div>
                            <a href="profile/accept">
                                <button id="add" class="p" type="submit">Accept</button>
                            </a>
                            <a href="profile/reject">
                                <button id="remove" class="n" type="submit">Reject</button>
                            </a>
                        </div>
                    <% } %>

                    <div>
                        <h4>Set Picture</h4>
                        <p>select or drag and drop image</p>
                        <input type="file">
                        <a href="profile/setimg"></a>
                    </div>
                
                <div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>