@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;900&display=swap');
body {
    background-color:rgb(45,50,62);
    margin:0;
    padding:0;
    font-family: 'Inter', sans-serif;
    color:blue;
    height: 100vh;
}
p {
    color:#1E293B;
    margin-top: 6px;
    margin-bottom:32px;
    font-weight:500;
}
a {
    text-decoration: none;
}
h1 {
    margin:0;
    font-size: 32px;
    color:#1E293B;
    text-align: left;
    font-weight: 800;
}
button {
    margin: 15px 0;
    padding: 15px 16px;
    font-size: 12px;
    width:145%;
    border-top-left-radius:9999px;
    border-top-right-radius:9999px;
    border-bottom-left-radius:9999px;
    border-bottom-right-radius:9999px;
    border:0;
    font-size:14px;
    font-weight:bold;
    background-color:#4F46E5;
    color:#FFFFFF;
}
button:hover, button:focus {
    transition: 300ms;
    background-color:#FFFFFF;
    color:#4F46E5;
    border:1px solid #4F46E5;
    cursor: pointer;
    outline:none;
}
input[type=text], input[type=password] {
    font-family: 'Inter', sans-serif;
    margin:10px 0;
    padding:14px 16px;
    width :130%;
    border: 1px solid rgb(203, 213, 225);
    border-radius:6px;
}
input[type=text]:focus, input[type=password]:focus {
    border:1px solid rgb(79, 70, 229);
    outline: none;
    transition: 300ms;
}
.wrapper, .partition2 , .partition1 {
    display: flex;
}
.partition2 , .partition1 {
    height:100vh;
    margin:3px;
    width:50%;
}
.partition1 {
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-align: center;
    background-color: white;
    text-align: left;
    justify-items: center;
    align-items: center;
    padding:0 auto;
}
label {
    padding-right: 20px;
    font-size: 14px;
    font-weight: 600;
    color:rgba(30,41,59,0.8);
}
#uname {
    margin-bottom: 18px;
}
.empty , .register-box{
    height:80%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: right;
    text-align: left;
}
.empty {
    width:35%
}
.register-box {
    width:65%;
}



.partition2 {
    background-color: rgb(30,41,59);
    align-items: center;
}
.writeup {
    padding-left: 68px;
    padding-right:68px;
}
.writeup>h1 {
    color:#f1f5f9;
}
.writeup>p {
    color:rgb(177, 177, 177);
}
.polka1, .polka2 {
   
    height:110px;
    width:230px;
    background: rgb(30 ,41, 59);
    background-image:
        radial-gradient(rgb(51 ,65, 85) 20%, transparent 0), 
        radial-gradient(rgb(51 ,65, 85) 20%, transparent 0);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
    
}
.polka1 {
    position: absolute;
    left:50%;
    top:0;
}
.polka2 {
    position:absolute;
    right:0;
    top:calc(100vh - 110px);
    transform: rotate(180deg);
}
.logo {
    margin-bottom:32px;
}
.logo p {
    font-family: 'Dancing Script', cursive;
    font-size:18px;
    margin:0;
    padding:0;
    color:rgb(52, 44, 104);
}
.logo h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 64px;
    margin:0;
    padding:0;
    color:#1E293B;
}
/* 
dark 30 41 59
51 65 85
627898
*/